@font-face {
    font-family: 'Druk-Wide';
    src: url(../assets/font/Druk-Wide-Bold.ttf);
}

.MB-banner{
    display: flex;
    justify-content: space-between;
}

.MB-banner-right{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    margin-left: 3%;
}

.MB-nav{
    color: white;
    display: flex;
    margin-left: 104px;
    font-family: 'Druk-Wide';
    font-size: 1.5vh;
}

.MB-nav p{
    margin-right: 72px;
}

.MB-bck-banner{
    width:  28%;
    height: 34vh;
    background-image: url("../assets/images/bck top.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
